<a href="https://colab.research.google.com/github/dcw8161/Trivalley-Customer-Spend-and-Buyer-Flag-Data/blob/main/Trivalley_Customer_Spend_and_Buyer_Flag_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# NumPy for numerical computing
import numpy as np

# Pandas for DataFrames
import pandas as pd

In [ ]:
## This dataset contain both features and labels
df = pd.read_csv('/content/Trivalley Customer Spend and Buyer Flag Data.csv')
df

       CustomerID  AveMonthSpend  ...  TotalChildren YearlyIncome
0           11000             89  ...              2       137947
1           11001            117  ...              3       101141
2           11002            123  ...              3        91945
3           11003             50  ...              0        86688
4           11004             95  ...              5        92771
...           ...            ...  ...            ...          ...
16514       13121            101  ...              5       101542
16515       26100             46  ...              3        46549
16516       11328             79  ...              5       133053
16517       23077             65  ...              4        31930
16518       18982             68  ...              4        59382

[16519 rows x 25 columns]

In [ ]:
# Checking the data types
df.dtypes

CustomerID               int64
AveMonthSpend            int64
BikeBuyer                int64
Title                   object
FirstName               object
MiddleName              object
LastName                object
Suffix                  object
AddressLine1            object
AddressLine2            object
City                    object
StateProvinceName       object
CountryRegionName       object
PostalCode              object
PhoneNumber             object
BirthDate               object
Education               object
Occupation              object
Gender                  object
MaritalStatus           object
HomeOwnerFlag            int64
NumberCarsOwned          int64
NumberChildrenAtHome     int64
TotalChildren            int64
YearlyIncome             int64
dtype: object

In [ ]:
# Checking the null values list and counts
df.isnull().sum()

CustomerID                  0
AveMonthSpend               0
BikeBuyer                   0
Title                   16431
FirstName                   0
MiddleName               6985
LastName                    0
Suffix                  16517
AddressLine1                0
AddressLine2            16243
City                        0
StateProvinceName           0
CountryRegionName           0
PostalCode                  0
PhoneNumber                 0
BirthDate                   0
Education                   0
Occupation                  0
Gender                      0
MaritalStatus               0
HomeOwnerFlag               0
NumberCarsOwned             0
NumberChildrenAtHome        0
TotalChildren               0
YearlyIncome                0
dtype: int64

In [ ]:
df1 = df.copy()
df1

       CustomerID  AveMonthSpend  ...  TotalChildren YearlyIncome
0           11000             89  ...              2       137947
1           11001            117  ...              3       101141
2           11002            123  ...              3        91945
3           11003             50  ...              0        86688
4           11004             95  ...              5        92771
...           ...            ...  ...            ...          ...
16514       13121            101  ...              5       101542
16515       26100             46  ...              3        46549
16516       11328             79  ...              5       133053
16517       23077             65  ...              4        31930
16518       18982             68  ...              4        59382

[16519 rows x 25 columns]

In [ ]:
from datetime import datetime
from datetime import date
def calculate_age(born):
    born = datetime.strptime(born, "%m/%d/%Y").date()
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

df1['Age'] = df1['BirthDate'].apply(calculate_age)
df1

       CustomerID  AveMonthSpend  BikeBuyer  ... TotalChildren YearlyIncome Age
0           11000             89          0  ...             2       137947  55
1           11001            117          1  ...             3       101141  56
2           11002            123          0  ...             3        91945  56
3           11003             50          0  ...             0        86688  53
4           11004             95          1  ...             5        92771  53
...           ...            ...        ...  ...           ...          ...  ..
16514       13121            101          0  ...             5       101542  56
16515       26100             46          0  ...             3        46549  85
16516       11328             79          0  ...             5       133053  81
16517       23077             65          0  ...             4        31930  75
16518       18982             68          0  ...             4        59382  76

[16519 rows x 26 columns]

In [ ]:
df1.to_csv('TrivalleyCustomerSpendAndBuyer.csv')
from google.colab import files
files.download("TrivalleyCustomerSpendAndBuyer.csv")

In [ ]:
df1.drop(['AddressLine2','MiddleName','Suffix','AddressLine1', 'CustomerID','FirstName', 'LastName','PhoneNumber','BirthDate', 'Title'], axis=1, inplace=True)
df1

       AveMonthSpend  BikeBuyer         City  ... TotalChildren YearlyIncome Age
0                 89          0  Rockhampton  ...             2       137947  55
1                117          1      Seaford  ...             3       101141  56
2                123          0       Hobart  ...             3        91945  56
3                 50          0   North Ryde  ...             0        86688  53
4                 95          1   Wollongong  ...             5        92771  53
...              ...        ...          ...  ...           ...          ...  ..
16514            101          0       Melton  ...             5       101542  56
16515             46          0      Shawnee  ...             3        46549  85
16516             79          0       Newton  ...             5       133053  81
16517             65          0       Rhodes  ...             4        31930  75
16518             68          0     Kirkland  ...             4        59382  76

[16519 rows x 16 columns]

In [ ]:
df1['BikeBuyer'] = df1['BikeBuyer'].astype('bool')
df1.head()

   AveMonthSpend  BikeBuyer         City  ... TotalChildren YearlyIncome Age
0             89      False  Rockhampton  ...             2       137947  55
1            117       True      Seaford  ...             3       101141  56
2            123      False       Hobart  ...             3        91945  56
3             50      False   North Ryde  ...             0        86688  53
4             95       True   Wollongong  ...             5        92771  53

[5 rows x 16 columns]

In [ ]:
df1.isnull().sum()

AveMonthSpend           0
BikeBuyer               0
City                    0
StateProvinceName       0
CountryRegionName       0
PostalCode              0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
Age                     0
dtype: int64

In [ ]:
# Exploratory Data Analysis using latest AI based AutoEDA Package - sweetviz
!pip install sweetviz

In [ ]:
# Importing the package for use
import sweetviz as sv

# Generate the EDA report
Employee_EDA_report = sv.analyze(df1)
# Convert the report to HTML 
Employee_EDA_report.show_html() # Default arguments will generate to "SWEETVIZ_REPORT.html"

# Downloading the EDA report to local machine
from google.colab import files
files.download("SWEETVIZ_REPORT.html")

                                             |          | [  0%]   00:00 -> (? left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [ ]:
cat_cols = [
'City',
'StateProvinceName',
'CountryRegionName',
'PostalCode',
'Education',
'Occupation',
'Gender',
'MaritalStatus',
'HomeOwnerFlag']

In [ ]:
# Method 1 - Doing Auto ML with PyCaret
!pip install pycaret --upgrade

In [ ]:
# Setting Categorical columns
cat_cols = [
'City',
'StateProvinceName',
'CountryRegionName',
'PostalCode',
'Education',
'Occupation',
'Gender',
'MaritalStatus',
'HomeOwnerFlag']

## Classification_Pycaret

In [ ]:
# Code snippet 14
#To import all Classification related Pycaret libraries
from pycaret.classification import *

In [ ]:
df1.Occupation.value_counts()

Professional      4963
Skilled Manual    4065
Management        2734
Clerical          2619
Manual            2138
Name: Occupation, dtype: int64

In [ ]:
df1.Gender.value_counts()

M    8351
F    8168
Name: Gender, dtype: int64

In [ ]:
df1.Education.value_counts()

Bachelors              4792
Partial College        4484
High School            2968
Graduate Degree        2863
Partial High School    1412
Name: Education, dtype: int64

In [ ]:
# Code snippet 15
# Setting up the classification ML experiment
classification_model_setup = setup(df1, target = 'BikeBuyer', normalize = True, 
                                   remove_outliers = True,
                                   categorical_features= cat_cols, 
                                   ordinal_features = {'Occupation' : ['Manual', 'Clerical', 'Management', 'Skilled Manual','Professional']},
                                   train_size = 0.7)

In [ ]:
# Running the multiple algorithms
compare_models()

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
lightgbm,Light Gradient Boosting Machine,0.8001,0.8572,0.5913,0.7506,0.6613,0.5223,0.5299,0.333
gbc,Gradient Boosting Classifier,0.8000,0.8611,0.5753,0.7607,0.6550,0.5180,0.5281,4.709
rf,Random Forest Classifier,0.7887,0.8378,0.5756,0.7276,0.6426,0.4955,0.5024,2.845
ada,Ada Boost Classifier,0.7885,0.8483,0.6183,0.7049,0.6587,0.5065,0.5088,1.493
ridge,Ridge Classifier,0.7858,0.0000,0.5425,0.7396,0.6257,0.4806,0.4920,0.122
lda,Linear Discriminant Analysis,0.7848,0.8295,0.5499,0.7318,0.6278,0.4807,0.4905,0.785
lr,Logistic Regression,0.7829,0.8323,0.5607,0.7197,0.6302,0.4799,0.4874,1.508
et,Extra Trees Classifier,0.7742,0.8197,0.5786,0.6879,0.6284,0.4680,0.4717,3.764
svm,SVM - Linear Kernel,0.7720,0.0000,0.5687,0.7005,0.6190,0.4604,0.4712,0.545
knn,K Neighbors Classifier,0.7658,0.7949,0.5711,0.6709,0.6168,0.4498,0.4530,3.779
dt,Decision Tree Classifier,0.7378,0.7024,0.5982,0.6045,0.6011,0.4059,0.4061,0.330
dummy,Dummy Classifier,0.6699,0.5000,0.0000,0.0000,0.0000,0.0000,0.0000,0.036
qda,Quadratic Discriminant Analysis,0.6366,0.6076,0.4308,0.4656,0.4369,0.1756,0.1786,0.530
nb,Naive Bayes,0.5777,0.5979,0.5816,0.4043,0.4763,0.1421,0.1487,0.093

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=4320, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [ ]:
# Code snippet 17
# Creating the model with the best algorithm based on the above results
model = create_model('lightgbm')

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
0       0.8080  0.8626  0.5702  0.7901  0.6624  0.5331  0.5469
1       0.7789  0.8386  0.5565  0.7113  0.6244  0.4710  0.4782
2       0.8126  0.8702  0.6061  0.7774  0.6811  0.5512  0.5598
3       0.7843  0.8536  0.5758  0.7158  0.6382  0.4871  0.4930
4       0.8005  0.8527  0.6022  0.7440  0.6656  0.5258  0.5317
5       0.8142  0.8599  0.6271  0.7669  0.6900  0.5592  0.5650
6       0.7878  0.8536  0.5801  0.7216  0.6432  0.4947  0.5007
7       0.8033  0.8614  0.5939  0.7570  0.6656  0.5291  0.5370
8       0.8115  0.8565  0.6143  0.7690  0.6830  0.5512  0.5583
9       0.7996  0.8625  0.5868  0.7527  0.6594  0.5206  0.5287
Mean    0.8001  0.8572  0.5913  0.7506  0.6613  0.5223  0.5299
SD      0.0119  0.0080  0.0205  0.0256  0.0199  0.0280  0.0286

## Regression_Pycaret

In [ ]:
#To import all Regression related Pycaret libraries
from pycaret.regression import *

In [ ]:
# Setting up the classification ML experiment
regression_model_setup = setup(df1,  target = 'AveMonthSpend',
                               normalize = True, 
                               remove_outliers = True,
                               categorical_features= cat_cols,
                               ordinal_features = {'Occupation' : ['Manual', 'Clerical', 'Management', 'Skilled Manual','Professional']},
                               train_size = 0.7)

In [ ]:
# Running the multiple algorithms
compare_models()

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE,TT (Sec)
lightgbm,Light Gradient Boosting Machine,2.510600e+00,1.003610e+01,3.166800e+00,9.864000e-01,0.0505,3.900000e-02,0.262
rf,Random Forest Regressor,2.638500e+00,1.109530e+01,3.330200e+00,9.849000e-01,0.0531,4.100000e-02,15.282
gbr,Gradient Boosting Regressor,2.701100e+00,1.167420e+01,3.414100e+00,9.842000e-01,0.0527,4.120000e-02,4.350
et,Extra Trees Regressor,2.746200e+00,1.217110e+01,3.488100e+00,9.835000e-01,0.0556,4.270000e-02,20.399
dt,Decision Tree Regressor,3.321400e+00,1.795450e+01,4.236300e+00,9.756000e-01,0.0670,5.140000e-02,0.291
omp,Orthogonal Matching Pursuit,4.828900e+00,3.981610e+01,6.307600e+00,9.460000e-01,0.0892,6.950000e-02,0.099
br,Bayesian Ridge,4.855200e+00,4.006260e+01,6.327200e+00,9.457000e-01,0.0898,6.990000e-02,0.470
ridge,Ridge Regression,4.861600e+00,4.015380e+01,6.334500e+00,9.456000e-01,0.0901,7.000000e-02,0.090
lr,Linear Regression,4.864700e+00,4.023030e+01,6.340500e+00,9.455000e-01,0.0902,7.010000e-02,0.255
huber,Huber Regressor,4.747300e+00,4.278050e+01,6.535600e+00,9.421000e-01,0.0838,6.560000e-02,2.143
ada,AdaBoost Regressor,5.782000e+00,5.189280e+01,7.201600e+00,9.297000e-01,0.1119,9.270000e-02,7.448
par,Passive Aggressive Regressor,6.555900e+00,7.174390e+01,8.410500e+00,9.028000e-01,0.1210,9.670000e-02,0.227
lasso,Lasso Regression,6.706400e+00,1.005382e+02,1.001620e+01,8.642000e-01,0.1117,8.860000e-02,0.098
knn,K Neighbors Regressor,7.591100e+00,1.058137e+02,1.028450e+01,8.563000e-01,0.1369,1.100000e-01,2.137
en,Elastic Net,1.179530e+01,2.721981e+02,1.648430e+01,6.323000e-01,0.1994,1.689000e-01,0.080
llar,Lasso Least Angle Regression,2.055530e+01,7.409320e+02,2.720270e+01,-1.600000e-03,0.3442,3.048000e-01,0.095
dummy,Dummy Regressor,2.055530e+01,7.409320e+02,2.720270e+01,-1.600000e-03,0.3442,3.048000e-01,0.030
lar,Least Angle Regression,1.283420e+35,1.727813e+72,5.587925e+35,-2.204624e+69,49.5970,1.998770e+33,0.243

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=755, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [ ]:
# Creating the model with the best algorithm based on the above results
model = create_model('lightgbm')

         MAE      MSE    RMSE      R2   RMSLE    MAPE
0     2.4796  10.0823  3.1753  0.9866  0.0502  0.0385
1     2.6585  11.2814  3.3588  0.9859  0.0529  0.0406
2     2.4810   9.7366  3.1203  0.9852  0.0496  0.0384
3     2.4434   9.3713  3.0613  0.9878  0.0493  0.0381
4     2.4886   9.5794  3.0951  0.9880  0.0484  0.0381
5     2.5431  10.1861  3.1916  0.9860  0.0518  0.0397
6     2.6026  10.6200  3.2588  0.9867  0.0511  0.0400
7     2.5243  10.0510  3.1703  0.9850  0.0508  0.0395
8     2.4798  10.0941  3.1771  0.9866  0.0508  0.0383
9     2.4048   9.3585  3.0592  0.9860  0.0504  0.0383
Mean  2.5106  10.0361  3.1668  0.9864  0.0505  0.0390
SD    0.0711   0.5585  0.0873  0.0009  0.0012  0.0009

In [ ]:
# Method 2 - Installing the H2O AI Package for Advanced ML and Deep Learning packages
!pip install h2o

In [ ]:
# Importing into current Working Session
import h2o
from h2o.automl import H2OAutoML

In [ ]:
# Initializing the H2O Server
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.11" 2021-04-20; OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.18.04); OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.18.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.7/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmp1e59eg0g
  JVM stdout: /tmp/tmp1e59eg0g/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmp1e59eg0g/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.34.0.3
H2O_cluster_version_age:    1 month and 14 days
H2O_cluster_name:           H2O_from_python_unknownUser_ksohhp
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.172 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.12 final
--------------------------  ------------------------------------------------------------------

In [ ]:
# Converting Pandas dataframe to H2O dataframe
hf = h2o.H2OFrame(df1)
hf

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

AveMonthSpend,BikeBuyer,City,StateProvinceName,CountryRegionName,PostalCode,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,Age
89,False,Rockhampton,Queensland,Australia,4700,Bachelors,Professional,M,M,1,0,0,2,137947,55
117,True,Seaford,Victoria,Australia,3198,Bachelors,Professional,M,S,0,1,3,3,101141,56
123,False,Hobart,Tasmania,Australia,7001,Bachelors,Professional,M,M,1,1,3,3,91945,56
50,False,North Ryde,New South Wales,Australia,2113,Bachelors,Professional,F,S,0,1,0,0,86688,53
95,True,Wollongong,New South Wales,Australia,2500,Bachelors,Professional,F,S,1,4,5,5,92771,53
78,True,East Brisbane,Queensland,Australia,4169,Bachelors,Professional,M,S,1,1,0,0,103199,56
54,True,Matraville,New South Wales,Australia,2036,Bachelors,Professional,F,S,1,1,0,0,84756,55
130,True,Warrnambool,Victoria,Australia,3280,Bachelors,Professional,M,M,1,2,3,3,109759,57
85,True,Bendigo,Victoria,Australia,3550,Bachelors,Professional,F,S,1,3,4,4,88005,57
74,False,Hervey Bay,Queensland,Australia,4655,Bachelors,Professional,M,S,0,1,0,0,106399,57

In [ ]:
# Splitting the data to train and test
splits = hf.split_frame(ratios = [0.8])
# Assigning first split to train variable
train = splits[0]
# Assigning first split to test variable
test = splits[1]

## Classification_H2O

In [ ]:
# Invoking the Auto advanced ML and Deep learning algorithms restricting run time to 60 seconds
aml = H2OAutoML(max_runtime_secs = 60)
# Training using train data and testing with test data
aml.train(y = "BikeBuyer", training_frame = train)

AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OStackedEnsembleEstimator :  Stacked Ensemble
Model Key:  StackedEnsemble_BestOfFamily_1_AutoML_1_20211122_21329

No model summary for this model

ModelMetricsBinomialGLM: stackedensemble
** Reported on train data. **

MSE: 0.10989031015447842
RMSE: 0.3314970741265727
LogLoss: 0.3501176204283765
Null degrees of freedom: 9977
Residual degrees of freedom: 9974
Null deviance: 12729.850829371419
Residual deviance: 6986.947233268681
AIC: 6994.947233268681
AUC: 0.9188439854367637
AUCPR: 0.8650429080484144
Gini: 0.8376879708735274

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.3655809022197964:

           False    True   Error              Rate
0  False  5653.0   979.0  0.1476    (979.0/6632.0)
1   True   619.0  2727.0   0.185    (619.0/3346.0)
2  Total  6272.0  3706.0  0.1602   (1598.0/9978.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.365581     0.773398  219.0
1                        max f2   0.214303     0.842778  283.0
2                  max f0point5   0.557444     0.793614  149.0
3                  max accuracy   0.457068     0.847164  184.0
4                 max precision   0.988798     1.000000    0.0
5                    max recall   0.040741     1.000000  373.0
6               max specificity   0.988798     1.000000    0.0
7              max absolute_mcc   0.384017     0.652312  212.0
8    max min_per_class_accuracy   0.344895     0.832780  227.0
9   max mean_per_class_accuracy   0.342582     0.834194  228.0
10                      max tns   0.988798  6632.000000    0.0
11                      max fns   0.988798  3344.000000    0.0
12                      max fps   0.005887  6632.000000  399.0
13                      max tps   0.040741  3346.000000  373.0
14                      max tnr   0.988798     1.000000    0.0
15                      max fnr   0.988798     0.999402    0.0
16                      max fpr   0.005887     1.000000  399.0
17                      max tpr   0.040741     1.000000  373.0

Gains/Lift Table: Avg response rate: 33.53 %, avg score: 33.64 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.010022  ...       198.206814            0.029886
1       2                  0.020044  ...       198.206814            0.059773
2       3                  0.030066  ...       198.206814            0.089659
3       4                  0.040088  ...       198.206814            0.119546
4       5                  0.050010  ...       198.206814            0.149133
5       6                  0.100020  ...       193.724748            0.291522
6       7                  0.150030  ...       181.075361            0.408730
7       8                  0.200040  ...       166.832350            0.502107
8       9                  0.300060  ...       139.441944            0.629507
9      10                  0.399980  ...       110.709901            0.666229
10     11                  0.500000  ...        84.399283            0.634904
11     12                  0.600020  ...        60.733821            0.548271
12     13                  0.699940  ...        40.947980            0.431213
13     14                  0.799960  ...        24.856824            0.299166
14     15                  0.899980  ...        11.113586            0.150483
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

ModelMetricsBinomialGLM: stackedensemble
** Reported on cross-validation data. **

MSE: 0.1413975829764957
RMSE: 0.37602869967130925
LogLoss: 0.4311900107546274
Null degrees of freedom: 13244
Residual degrees of freedom: 13241
Null deviance: 16885.849651988592
Residual deviance: 11422.22338489008
AIC: 11430.22338489008
AUC: 0.8558170801596545
AUCPR: 0.7746331739906854
Gini: 0.711634160319309

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.29611412989170854:

           False    True   Error               Rate
0  False  6548.0  2266.0  0.2571    (2266.0/8814.0)
1   True   928.0  3503.0  0.2094     (928.0/4431.0)
2  Total  7476.0  5769.0  0.2411   (3194.0/13245.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.296114     0.686863  245.0
1                        max f2   0.137187     0.788304  321.0
2                  max f0point5   0.610682     0.713442  127.0
3                  max accuracy   0.530296     0.792299  154.0
4                 max precision   0.988450     1.000000    0.0
5                    max recall   0.023670     1.000000  386.0
6               max specificity   0.988450     1.000000    0.0
7              max absolute_mcc   0.466841     0.517969  177.0
8    max min_per_class_accuracy   0.316761     0.763785  235.0
9   max mean_per_class_accuracy   0.296114     0.766738  245.0
10                      max tns   0.988450  8814.000000    0.0
11                      max fns   0.988450  4420.000000    0.0
12                      max fps   0.005636  8814.000000  399.0
13                      max tps   0.023670  4431.000000  386.0
14                      max tnr   0.988450     1.000000    0.0
15                      max fnr   0.988450     0.997517    0.0
16                      max fpr   0.005636     1.000000  399.0
17                      max tpr   0.023670     1.000000  386.0

Gains/Lift Table: Avg response rate: 33.45 %, avg score: 33.46 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.010042  ...       198.916723            0.030016
1       2                  0.020008  ...       198.916723            0.059806
2       3                  0.030049  ...       198.916723            0.089822
3       4                  0.040015  ...       197.224742            0.118594
4       5                  0.050057  ...       195.309885            0.146915
5       6                  0.100038  ...       176.131373            0.264777
6       7                  0.150019  ...       159.502440            0.359577
7       8                  0.200000  ...       141.931844            0.426568
8       9                  0.300038  ...       110.986766            0.500410
9      10                  0.400000  ...        87.767998            0.527564
10     11                  0.500038  ...        68.391710            0.513908
11     12                  0.600000  ...        51.583540            0.465095
12     13                  0.699962  ...        36.803328            0.387116
13     14                  0.800000  ...        23.392011            0.281214
14     15                  0.899962  ...        11.040541            0.149312
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

In [ ]:
# Displaying the best algorithm scores
aml.leaderboard.head(20)

model_id,auc,logloss,aucpr,mean_per_class_error,rmse,mse
StackedEnsemble_BestOfFamily_1_AutoML_1_20211118_232727,0.856009,0.43076,0.77044,0.234712,0.375931,0.141324
XGBoost_1_AutoML_1_20211118_232727,0.850617,0.443127,0.76354,0.237455,0.381252,0.145353
XGBoost_2_AutoML_1_20211118_232727,0.838098,0.584476,0.739812,0.24619,0.443509,0.1967
GLM_1_AutoML_1_20211118_232727,0.836955,0.45622,0.739794,0.249905,0.386419,0.14932
GBM_1_AutoML_1_20211118_232727,0.825879,0.473074,0.716878,0.256837,0.393153,0.154569
DRF_1_AutoML_1_20211118_232727,0.692495,9.0548,0.52007,0.311839,0.520182,0.270589

In [ ]:
# Getting the prediction metrics
perf = aml.leader.model_performance(test)
# Displaying the performance metrics
perf

ModelMetricsBinomialGLM: stackedensemble
** Reported on test data. **

MSE: 0.13700865352316757
RMSE: 0.37014679996343014
LogLoss: 0.4200675488920446
Null degrees of freedom: 3273
Residual degrees of freedom: 3270
Null deviance: 4122.068509292735
Residual deviance: 2750.6023101451083
AIC: 2758.6023101451083
AUC: 0.8600355807224311
AUCPR: 0.7744669045866182
Gini: 0.7200711614448623

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.37994529156700724:

           False    True   Error             Rate
0  False  1820.0   396.0  0.1787   (396.0/2216.0)
1   True   295.0   763.0  0.2788   (295.0/1058.0)
2  Total  2115.0  1159.0  0.2111   (691.0/3274.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.379945     0.688318  206.0
1                        max f2   0.169812     0.784298  300.0
2                  max f0point5   0.673591     0.718165  105.0
3                  max accuracy   0.517518     0.804826  156.0
4                 max precision   0.986947     1.000000    0.0
5                    max recall   0.024601     1.000000  384.0
6               max specificity   0.986947     1.000000    0.0
7              max absolute_mcc   0.416901     0.535797  193.0
8    max min_per_class_accuracy   0.324578     0.768051  229.0
9   max mean_per_class_accuracy   0.379945     0.771236  206.0
10                      max tns   0.986947  2216.000000    0.0
11                      max fns   0.986947  1057.000000    0.0
12                      max fps   0.004838  2216.000000  399.0
13                      max tps   0.024601  1058.000000  384.0
14                      max tnr   0.986947     1.000000    0.0
15                      max fnr   0.986947     0.999055    0.0
16                      max fpr   0.004838     1.000000  399.0
17                      max tpr   0.024601     1.000000  384.0

Gains/Lift Table: Avg response rate: 32.32 %, avg score: 33.38 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.010079  ...       209.451796            0.031191
1       2                  0.020159  ...       209.451796            0.062382
2       3                  0.030238  ...       203.200244            0.090780
3       4                  0.040012  ...       202.365113            0.119629
4       5                  0.050092  ...       203.791092            0.150820
5       6                  0.100183  ...       183.978630            0.272315
6       7                  0.149969  ...       171.636912            0.380297
7       8                  0.200061  ...       148.506328            0.438951
8       9                  0.299939  ...       116.805332            0.517612
9      10                  0.400122  ...        91.340423            0.539964
10     11                  0.500000  ...        69.565217            0.513891
11     12                  0.599878  ...        52.677592            0.466872
12     13                  0.700061  ...        36.904067            0.381697
13     14                  0.799939  ...        23.946137            0.283010
14     15                  0.899817  ...        11.028699            0.146618
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

## Regression_H2O

In [ ]:
# Invoking the Auto advanced ML and Deep learning algorithms restricting run time to 60 seconds
aml_reg = H2OAutoML(max_runtime_secs = 60)
# Training using train data and testing with test data
aml_reg.train(y = "AveMonthSpend", training_frame = train)

AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OStackedEnsembleEstimator :  Stacked Ensemble
Model Key:  StackedEnsemble_BestOfFamily_1_AutoML_2_20211122_21541

No model summary for this model

ModelMetricsRegressionGLM: stackedensemble
** Reported on train data. **

MSE: 5.203910492440732
RMSE: 2.2812081212464443
MAE: 1.7950993069340342
RMSLE: 0.03651098565360064
R^2: 0.992820169516044
Mean Residual Deviance: 5.203910492440732
Null degrees of freedom: 10018
Residual degrees of freedom: 10015
Null deviance: 7261732.25320839
Residual deviance: 52137.979223763694
AIC: 44968.13273261691

ModelMetricsRegressionGLM: stackedensemble
** Reported on cross-validation data. **

MSE: 11.312204336435803
RMSE: 3.3633620584819295
MAE: 2.669196986039318
RMSLE: 0.053251026038027297
R^2: 0.9846945080441972
Mean Residual Deviance: 11.312204336435803
Null degrees of freedom: 13244
Residual degrees of freedom: 13241
Null deviance: 9792495.842879102
Residual deviance: 149830.1464360922
AIC: 69728.49112172273

In [ ]:
# Displaying the best algorithm scores
aml_reg.leaderboard.head(20)

model_id,mean_residual_deviance,rmse,mse,mae,rmsle
StackedEnsemble_BestOfFamily_1_AutoML_2_20211122_21541,11.3122,3.36336,11.3122,2.6692,0.053251
StackedEnsemble_BestOfFamily_2_AutoML_2_20211122_21541,11.317,3.36408,11.317,2.6696,0.0532642
XGBoost_1_AutoML_2_20211122_21541,11.7428,3.42678,11.7428,2.72152,0.0542427
GBM_1_AutoML_2_20211122_21541,15.4703,3.93323,15.4703,3.08068,0.059287
GLM_1_AutoML_2_20211122_21541,39.8853,6.31548,39.8853,4.80908,0.088016
DRF_1_AutoML_2_20211122_21541,54.4713,7.38047,54.4713,4.85968,0.0980064
XGBoost_2_AutoML_2_20211122_21541,65.6265,8.10102,65.6265,6.79187,0.1076
GBM_2_AutoML_2_20211122_21541,310.926,17.6331,310.926,13.2377,0.224543
GBM_3_AutoML_2_20211122_21541,466.894,21.6077,466.894,16.2538,0.273616
GBM_4_AutoML_2_20211122_21541,529.099,23.0021,529.099,17.4088,0.290678

In [ ]:
# Getting the prediction metrics
perf = aml_reg.leader.model_performance(test)
# Displaying the performance metrics
perf

ModelMetricsRegressionGLM: stackedensemble
** Reported on test data. **

MSE: 11.081422051093865
RMSE: 3.3288769954886988
MAE: 2.6473449531127935
RMSLE: 0.054559143032560285
R^2: 0.9855231530149634
Mean Residual Deviance: 11.081422051093865
Null degrees of freedom: 3273
Residual degrees of freedom: 3270
Null deviance: 2508720.9179580794
Residual deviance: 36280.575795281315
AIC: 17176.063551230498